<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>循环结构</title>

</head>
<body>
    <div id="app">
        <!-- vue中的循环 -->
        <!-- v-for语法1
            1.循环获取数据的内容
            *2.可以循环复制标签 ———— 每遍历一次就会带着标签一起复制一次
            参数说明：
                item:变量名称   名称任意
                in:关键字  固定写法
                array:要遍历的数据
            循环后的结构为：
            <h1>安琪拉</h1>
            <h1>孙悟空</h1>
            <h1>诸葛亮</h1>
         -->
        <h5 v-for="item in array">{{item}}</h5>

        <hr>

        <!-- 2.v-for语法2:获取数据/下标 -->
        <h5 v-for="(item,index) in array">{{item}}的索引值是{{index}}</h5>

        <hr>

        <!-- 3.循环遍历集合信息 -->
        <div v-for="item in userList">
            <p>ID号：{{item.id}}</p>
            <p>名称：{{item.name}}</p>
        </div>

        <hr>

        <!-- 4.如果直接遍历对象，只用一个变量接收的话则输出的是对象的value值
               如果用两个变量接收的话，第一个变量获取的是value，第二个变量获取的是key
               如果用三个变量接收的话，第一个变量获取的是value，第二个变量获取的是key，第三个变量获取的是index
         -->
        <div v-for="item in user">{{item}}</div>
        <hr>
        <div v-for="(value,key) in user">{{key}} : {{value}}</div>
        <hr>
        <div v-for="(value,key,index) in user">{{key}} : {{value}} 索引值是{{index}}</div>
        <hr>
        <!-- 如不采用插值表达式可使用<span>标签添加v-text属性赋值
                <span>标签 ———— 无色无味、纯洁的标签
                上述代码可写成下种方式
         -->
        <div v-for="(value,key,index) in user">
            <span v-text="key"></span>
            :
            <span v-text="value"></span>
            索引值为：
            <span v-text="index"></span>
        </div>

    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                array: ["安琪拉","孙悟空","诸葛亮"],
                userList: [{
                    id: 100,
                    name: "张三"
                },{
                    id: 200,
                    name: "李四"
                },{
                    id: 300,
                    name: "王五"
                }],
                /* 定义user对象 */
                user: {
                    id: 200,
                    name: "鲤鱼王",
                    age: 18
                }
            },
            methods: {

            }
        })
    </script>
</body>
</html>